body{
    margin: 0;
    padding: 0;
    background: url(b1.gif);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.logout {
  border-radius: 4px;
  background-color: #7a3716;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  right: 0.2%;
  top: 0.2%;
}

.home {
  border-radius: 4px;
  background-color: #7a3716;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  left: 0.2%;
  top: 0.2%;
}

h1{
  margin 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 24px;
}

#search{
  margin 0 0 10px;
  padding: 0;
  color: #edeff2;
  font-size: 24px;

}

.box {
  position: absolute;
  top:30%;
  left: 3%
}

input {
  position: relative;
  display: inline-block;
  font-size: 18px;
  box-sizing: border-box;
  transition: .5s;
}

input[type="text"] {
    background: #9deaed;
    text-align: center;
    border: none;
    outline: none;
    width: 250px;
    height: 50;
    border-radius: 25px 25px 25px 25px;
}
input[class="last"] {
    background: #9deaed;
    border: none;
    outline: none;
    padding: 0 25px;
    width: 200px;
    height: 50;
    border-radius: 25px 0 0 25px;
  }

input[type="submit"] {
  position: relative;
  top: 1px;
  left: -5px;
  border-radius: 0 25px 25px 0;
  width: 150px;
  height: 50px;
  border: none;
  outline-color: red;
  cursor: pointer;
  background: #ffc107;
  font-family: fantasy;
}

#books {
  color:red;
  position: absolute;
  top: 50%;
}
